/* About Page */

.about-page {
  padding: 20px;
  max-width: 800px;

  .section {
    margin-top: 30px;
    align-self: flex-start;
  }

  .section__title {
    color: $orange;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .section__subtitle {
    margin: 0px 0px 20px 0px;
    font-weight: $font-weight-large;
    letter-spacing: 0px;
    line-height: 130%;
    color: $grey;
  }

  .section__text {
    color: $grey;
    margin-bottom: 15px;
  }

  .section__headshots-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section__individual-container {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: auto;
    margin: 30px;
  }

  .section__image {
    width: 100%;
    border-radius: 50%;
  }

  .section__person-info {
    margin-top: 10px;
  }

  .section__name {
    color: $grey;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 0px;
    margin: 0 0 8px 0;
  }

  .section__position {
    color: $grey80;
    text-align: center;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 509px) {
  .about-page .section__individual-container {
    margin: 0;
    padding: 20px;
    width: 50%;
  }
}
