/*Contact Styles */

.contact-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;

  .contact-col {
    padding: 0 20px;
    max-width: 485px;
  }

  .questions {
    color: $orange;
    font-size: $font-size-l;
    font-weight: $font-weight-large;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }

  .contact-form {
    margin: 0 auto 60px;
  }

  .textarea {
    min-height: 130px;
  }

  .contact-detail {
    color: $grey80;
    margin-bottom: 4px;
  }
}
