/* HomePage Styles */

.home-page {
  align-items: center;
  width: 100%;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $orange60;
    background-image: url(asset-path('stencils/instrument_white.png'));
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
  } 

  .title-text {
    color: $white;
    text-align: center;
    font-weight: 300;
    font-size: 62px;
  }

  .forte-description {
    font-weight: 300;
    font-size: $font-size-l;
    margin-top: 50px;
    text-align: center;
    padding: 0px 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;

    * {
      margin: 10px 20px;
    }
  }

  .instruments-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;

  }

  .instrument {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
    margin: 20px 20px 0px 20px;
    position: relative;
    img {  
      width: auto;
      height: 100%;
      text-align: center;
    }
  }

  .instrument__description {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: $font-size-m;
    width: 100%;
    height: 40px;
    background-color: $orange60;
  }

  .home-page__line-break {
    margin-top: 60px;
    border-top: 1px solid $grey80;
    width: 70vw;
  }

  .information-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .information-block {
    height: 200px;
    width: 300px;
    margin: 20px 20px 0px 20px;
  }

  .information-block__title {
    color: $orange;
    font-size: $font-size-l;
  }

  .information-block__description {
    color: $grey;
    font-size: $font-size-s;
    margin-top: 20px;
  }
}
