/* HomePage Styles */

.home-page {
  align-items: center;
  width: 100%;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $orange60;
    background-image: url(asset-path('stencils/instrument_white.jpg'));
    padding: 0 20px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
  }

  .title-text {
    color: $white;
    text-align: center;
    font-weight: 300;
    font-size: 62px;
  }

  .forte-description {
    font-weight: 300;
    font-size: $font-size-l;
    line-height: 1.4;
    margin-top: 50px;
    text-align: center;
    padding: 0px 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;

    * {
      margin: 10px 20px;
    }

    .home-cta:hover {
      transform: translateY(-2px);
    }
  }

  .carousel-wrapper {
    display: flex;

    .arrow-button {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      cursor: pointer;
      color: $grey80;

      &:hover {
        background: $grey10;
      }

      &:active {
        background: $grey20;
      }

      .button-inactive {
        color: $grey40;
      }
    }

    .button-disabled {
      color: $grey20;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }

  .instruments-wrapper {
    height: 220px;
    width: 1020px;
    overflow: hidden;
    white-space:nowrap
  }

  .instruments-inner-wrapper {
    transition: 200ms;
  }

  .instrument {
    display:inline-block;
    background: #f6f6f6;
    height: 200px;
    width: 300px;
    overflow: hidden;
    margin: 20px 20px 0px 20px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;

    img {
      width: auto;
      height: 100%;
      text-align: center;
    }

    &:hover {
      .instrument-hover-container {
        top: calc(100% - 130px);
      }
    }
  }

  .instrument-hover-container {
    background: $orange60;
    color: $white;
    height: 100%;
    position: absolute;
    text-align: center;
    top: calc(100% - 50px);
    transition: 200ms;
    width: 100%;
  }

  .instrument-btn-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    a {
      border: 1px solid white;
      display: inline-block;
      flex: 1;
      margin: 0 10px;
    }
  }

  .instrument__description {
    color: white;
    font-size: $font-size-m;
    font-weight: 600;
    margin: 10px 0;
    width: 100%;
    height: 40px;
  }

  .home-page__line-break {
    margin-top: 80px;
    border-top: 1px solid $grey20;
    width: 70vw;
  }

  .testimonial__line-break {
    margin-top: 40px;
    border-top: 1px solid $grey20;
    width: 70vw;
  }

  .home__link {
    color: $orange;
    display: inline-block;
    font-size: 14px;

    &:after {
      content: "\f105";
      display: inline-block;
      font-family: 'FontAwesome';
      padding-left: 4px;
    }
  }

  .information-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .information-block {
    height: 200px;
    width: 300px;
    margin: 0 20px;
  }

  .information-block__title {
    color: $orange;
    font-size: $font-size-l;
    font-weight: 500;
  }

  .information-block__description {
    color: $grey;
    font-size: $font-size-s;
    margin-top: 20px;
  }

  .testimonial-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px 40px;
  }

  .testimonial-block__title {
    color: $orange;
    font-size: $font-size-l;
    font-weight: 500;
    text-align: center;
  }

  .testimonial-description-wrapper {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .testimonial-block__description {
    color: $grey;
    font-size: $font-size-s;
    font-style: italic;
  }

  .testimonial-block {
    height: 100%;
    width: 300px;
    margin: 0 100px;
  }

  .testimonial-block__name {
    color: $grey;
    font-size: $font-size-s;
    text-align: right;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .home-page .title-text {
    font-size: 48px;
  }
}
