/* Involvement Styles */

.involvement-page {
  align-items: center;
  width: 100%;
  padding: 20px;

  .content-container {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
  }

  .title {
    color: $orange;
  }

  .options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .option {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    margin: 20px;
  }

  .middle {
    margin: 0 30px;
  }

  .option-icon {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 75px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    img {
      height: 100px;
    }
  }

  .option-title {
    color: $orange;
  }

  .separator {
    border-bottom: 1px $orange solid;
  }

  .option-description {
    color: $grey;
    margin-top: 15px;
    font-size: $font-size-s;
  }

  .option-button {
    align-self: center;
    margin-top: auto;
  }
}
