/* ProgramPage Styles */

.program-page {
  text-align: left;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  
  h1 {
    color: $orange;
  }

  .description {
    margin-top: 0px;
  }

  .question-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 100%;
  }

  .question {
    color: $grey;
    margin: 10px 0px;
    font-size: $font-size-s;
    font-weight: $font-weight-large;
    cursor: pointer;
  }

  .answer {
    color: $grey80;
    font-size: $font-size-s;
  }
}
