/* ProgramPage Styles */

.program-page {
  background-image: image_url("about/about_graphic.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: left;
  text-align: left;
  width: 100%;
  max-width: 700px;
  margin-top: 50px;
  padding: 20px;

  .section__title {
    color: $orange;
    font-weight: bold;
    margin-bottom: 3px;
  }


  .subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    color: $grey80;
  }

  .question-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 100%;
  }

  .question {
    color: $grey;
    margin: 10px 0px;
    font-size: $font-size-s;
    font-weight: $font-weight-large;
    cursor: pointer;

    &:after {
      content: "\f0d7";
      display: inline-block;
      margin-left: 6px;
      opacity: 0.4;
      transition: 200ms;
      font: normal normal normal 14px/1 FontAwesome;
    }

    &.open:after {
      transform: rotateZ(180deg);
      font: normal normal normal 14px/1 FontAwesome;
    }
  }

  .answer {
    color: $grey80;
    font-size: $font-size-s;
  }
}
