# Keep .keep files
!.keep

# Ignore DS_STORE
*.DS_Store

# Ignore bundler config.
/.bundle

# Ignore the database config
config/database.yml

# Ignore logfiles and tempfiles.
/log/*.log
/tmp

# Ignore application environment variables.
config/application.yml

# Ignore vim temporary files.
*.swp

-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: AES-128-CBC,88545184AB692BF650EBFD570DE759E7

4gEhKiR8iM+1xyQGJAObjoEBCo5m3Y68oPV8qYdH2x/J84HCVcCmKWJ4cpWuJpQ1
RaEBSvJdNDjFHUsxFPv6/2r0VIffyOo+hW5C4APjmo9OwXNJ0+jrM+ayen10j9yO
zUSgYVRm+di6xErscQ/1uO0BkIgBMQPOvOkSU2m3wmFV98cWQl1jT3rVVk27kXs3
oPFOosK3JNkGo4b26mD9jVtNdCL60s8//wsBWMaKcjf0GtTseT0sPglPoqaXKuUD
6uZCvpD9Qb3ptiqMWTiXSb0VfVzLFjjWF5SJEpW7JXSpSRjmYMuq77tEd7rd4shZ
0ObH/6gQgax8fWNk0YpQL+vCf1u9fRSvQSmCPBg86XjPvfkXOFFNpvhc7D43FC05
ZFUcQAkjuMIsZAiMAjGO8fNVj8UXM8RnIPn04lkNLBbGkYvKNTeDttS+OGZ3AW6G
AIJlMXb+WP7HOyflvcTRNfmSnJRHevH2C2gBjAEBf3vSThksgTElucqyxqbPx3Wi
flG6wp7J6m5GLjccRf/nxX4HTFnxTc0AbTUxwLxHBVnrK4JO4v82mr5axvsPulMA
+MyB0v5ywUbKjhyO2+DmFjniFExS/F3wsqiNo9nniWfrcQIviHIxvgDwztO5lzAi
kfeEdDWSY4Ti4r6uFEWAi2gyICDiM+gSBrHgJ3RsiCBcFOtg9nYk83GCDqB2c4GW
hiuCqasTnCm8u73PT4FD7U2l2H4GmT31fPuHfKfinhBZJgid+BYRKn0gMHOJAmLj
8UZd7Ji/6Ysm+1kWyMG88bzTc1DM+svmXCngFRUUH57BmKQ0eMsGrSBmCpbLt15l
y5Sq/25qpNedU807OFG6HbMHYFw0BhbIE6L6EPL+XH2SQJfsvHpZf9iQcTPMXjxz
LAW7YRQFTZkP435P22Xr18vi9AMqb3i3cveiJjkFwyhFtuq/uoGk+z/ksH4kKFX0
YPJal6ZGw2l+/JiYWHmTizr7mjnIVdLz2oXQmajiQPjPl5hnK3H3otiTwuCFGXYX
65kmiQmkq+awGSxdP8EwhWVJDwyU8x0UkhMq5G4C+mpv2NvouV41dQqDRmUhRNmb
rmgKZyZtvieSuTpfHohTa2CDPPwKZ1aCp1fOCKVT2ShBAiNklz7HNps8i/l4j/5q
RhLFdXU1TNLEbs58FcNx5A3SJqJQv9bBEW6dBkKQOVszPOUVOdPit4xxQAOGi54t
IhebLizSd7DPN58JPOCFiRiU7n/HIZG3gd3WAaNsT5DOxOxp+tu6nYsWMK2HkHtG
ig88mpgk7WGtGQ82NSVcPLI3Vcr0a+mu4E8ftwws3AriFrTEvzBlvJywfuL2zAop
epOjCQbbOJGc3LLCLr3sntHPRnpTyNMdIW9Z1PAIelq3DSUtMofaUl6FKpRLtHSo
4mEpbO7N+NVXLn+Mt8ZQVezaJbbEesv18AFZPfYNFqsaR93qLcFchPKPA5Wn/W1T
5s9w5GwDQt/+IvFrn6fP5BLArWyTnsYkt0/ltvQ7BvZEpz4Su8ToDOA0DtG1yeAF
1T8G8jW4MalKZBzvPXHqVm2Jp30tTRrFyWvHbpJx+yV9pG2FtUfGovTU0KFGAyBw
i/b98cgC1rEVp2W3eLd5tUAIm1UjdYJ2xXVbuhFb3cJsCcGxm1A6QVYgPaB5nLoz
hJfYZjB1S5FugjBvyZViIt1Nf067hsEjLMgg73loHqGfeSWVLbAI5pZcGwHN8SnY
xzGetKrb+F4TUmm+4VC73Zaic4WfRiQhbzwddOFfzr6QpL2AzogvmEifIgYIFaHI
6YbnJuxWxNp4G2tMY0NSYqd+7CpJO8BqBKA6aXmYAG8eNEsOIN56S+myklgrQgAl
TdRtpRsU4TE4GD9HjFBbMF1zwVnA7VE9/n9uV11TEpGi1Rnb4HTDPOAZy1VZY9Hu
ttX0sa6v51Rw097mGtebWJgZ0wyO76qi+/FsaNS8CtCK+VRlJvCcTmg3MLFzoyCs
a5NkUzdZdOvlfDjIgt60HJkR9h/UzV/ZsPmS9m2zvAGlXcWGqg5FxY1mD3b4czo3
/YrO8rsGPO5BO/E1gMsVdBBFcA8Gfp91htF3nw1BAEQg8/fd7MJBwXJrSEvTNUUX
4JYKX2w2eUbbJMz9HYYJSqr7i88oR2GCh6zrzBYQK5aiOg6cp1PUpEXRtIDzEWQm
VYwJcDhXa3k4PjG4ZhocEMoHODFpey5M3goYrjcKQW+sHgIPzw6UW/pslHmDHWfc
jNfOaBIshsChtfsG4rtkwEoCMb7Q0L1VrE3Q5DEdBf+R/jQa0ClMvXwUB+FxAqUU
8pXoiZZFTWHLD5Y4Ek/MWIp9rwVy5GEzkZLvrMaRWw9YG/VG2sZlfEVutJLHXk/m
Zhs+6xRlzVGVa4SZZFauW5IJpRWd9bzbRxFEXvONBPs+O6hLyvOPUsxY4Os7mBzV
yovM68/fbVM6fsChGN/Uh2ne4kjTZ4SoCW2ZT4T1XOl63lySz53WbPNHtZXazPxQ
0H64svJFL+IxcmhYcEOTXZuqMQwQzKM1pi3yoKJd+anOLq00iGFd7Iczj7bJ6naK
rXy3VrgOo0O9iV+von+qtAci/s+RpjqteDauw+eOETlweCG1GfEf4NzxzbT1b7Sh
tv1hzjvIiqCOsE4ySLBe8+2Oc7+lNeadXB5Y2dZMzxBPP3TEEeaYr1UHoyxVY7K9
XApPrF02UFfvCcWI+T7bmKpsytJgRddSRFLwiUH3+SIO/XgxW1FN2fTySQdv1uU+
i23CXIV08yxkM8RmIiGPakpd9pAj4USSest2Wy/M7Hi4fkIZBa4C9iWlVVLDb8Wm
VHyMzDHVjuvZaiTvBRZCd2USsaNfFN0qpI+LlZ4NDEejg1xt+qYiaHqdn1YFq/X5
lyYQM4hWYMHCy4LLZ1HSFGom42VDpQNcY7Th83jV4UQLDtpLgSTjpCG7S6SnThZi
dPBL6WoyN9tiull3hU7bbcNcGCAaF/7cA33xC2QjinaBnSpFJrUptl3JTOccQgRc
ufY6byQ+O+nUdouLtGCp/kPeiHUzhf3+WB15hWKEijaz1KKbC1dBTQMF8lKINVbo
fRPpcgjXlc1kHqQusxxXo3eVAZkc7SotZFldVaP76qcIDfl4n9whIZgh0/Uvr2nw
-----END RSA PRIVATE KEY-----


ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDIF2sbJma5h6UcLJxxcJUHg9OBcKQtFJgk2PgZGjOcQr6/AElC/493f6aTCWsFOS4buHhnEw8zU09Zf7kQbuLxGZaRrCsYsmdHLLoioIcSvBEajv0cvPSKMsF2UCCHafWlxY44E2TqH9tpAB5ZIxeMoPLZg5Ps3RjOtOY5K61/LpeNLGhlltWYdQM5Gu+yC13cceleKOXuzqGKPhb1uy+Wy/sJT5WvzXKmD/eych7LrK+Ppvby0B1NDGJsvJwLHpniJa6ng2kVeT0oDHJKTACGK06L4azLaBqL2iWl2OeNp+5vYEnLIZvZkhp/ZRT2IhdMiE5V6UIkQxeoQ1xYpZNH77NKd4RWDOL9lW7IoCwM+r6rGNDDxytr7108DOYZB8KXlnPwlTTIXVQmCUIXrGt5rXLa2v/yy44aXAJ/jqgHB9R1NEURAvpQLSOJXtaq3+kkWSX+MC/2SFOf5oklgA4mF8byDhP6awCPhMXHLKLXdYoaRc+BaCuwohLvOFZg1kW3qI/GAj4GN52u74t/sGQtFQznUT9IUEzCBu3bI0GeFt0+e9KiNC9HmYcisDKn/L8u9JC+SUKfQyALFfbMRhumo6IwLRGbmJelvx9TSJ+F7Ghs0Bt3mciOmEK3DjdzBFtAsWJ40A+fO5q30nYRg+6oXwY3xKUY9YDszlyDTQg+2Q== kvsteele@berkeley.edu





