<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi Forte! You've received the following message from <%= @first_name %> <%= @last_name %>. You can email them back at <%= @email %>.
    </p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
