<div>
  <p>
    Hi Forte! You've received a donation from <%= @full_name %>. Here is their message: <%= @message %>. You can contact them at Phone Number: <%= @phone_number %> or Email: <%= @email %>.
  </p>
</div>
