<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi <%= @student.guardian_first_name %>,</h4>

    <p>Your student has succesfully completed their registration for Forte</p>

    <p>Sincereley,</p>
    <h4>The Forte Team</h4>
  </div>
</div>
