<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi <%= @student.first_name %>,</h4>

    <p>Thank you for completing your registration.</p>

    <p>Please review the information below for accuracy. Please email any corrections or questions to TODO: INSERT EMAIL HERE.</p>

    <p>Sincereley,</p>
    <h4>Forte Team</h4>
  </div>
</div>
