<div style="width: 100%; background-color: #ebeef2;">
  <div style="width: 600px; padding: 24px; margin: auto; background-color: #ffffff;">
    <h4>Hi Forte Admins,,</h4>

    <p><%= @student.full_name %> has finished registrating.</p>

    <p>This is an automated email.</p>
  </div>
</div>
