.matched-page {
  padding: 0 10px;
  max-width: 600px;
  width: 100%;
}

.matching-item {
  border: 1px solid $grey15;
  border-radius: 3px;
  margin: 10px 0px;
  transition: 100ms;
  width: 100%;

  &:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  }

  .matching-item-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 0;

    .matching-item-header-item {
      display: block;
      text-decoration: none;
      padding: 10px;
      width: 33.33%;
      cursor: pointer;

      &:hover {
        background: $grey5;
      }

      .header-label {
        font-size: 14px;
        font-weight: bold;
        color: $orange;
        text-transform: uppercase;
      }

      .header-text {
        font-size: 17px;
        font-weight: normal;
        color: black;
      }
    }
  }

  .matching-options {
    align-self: flex-start;
    margin-left: auto;

    .dropdown-menu {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
      right: 0;
      left: auto;
      min-width: 0;
      padding: 2px 0;
    }

    .divider {
      margin: 5px 0;
    }

    ul.dropdown-menu li > a {
      font-size: 13px;
      padding: 4px 10px;
    }
  }

  .matching-item-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 20px;

    .matching-item-content-item {
      font-size: 17px;
      line-height: 20px;
      padding: 5px 10px;
      width: 25%;

      &:first-of-type { padding-left: 0; }
      &:last-of-type { padding-right: 0; }

      .content-label {
        font-size: 12px;
        font-weight: bold;
        color: $grey40;
        text-transform: uppercase;
      }

      .content-text {
        font-size: 14px;
        font-weight: normal;
        color: black;
      }
    }
  }
}

@media (max-width: 550px) {
  .matching-item .matching-item-content {
    justify-content: flex-start;

    .matching-item-location {
      order: 2;
      padding-left: 0;
      width: 100%;
    }
  }
}
