.roster-page {
  padding-bottom: 40px;

  .roster-container {
    align-self: center;
    padding: 5px;
    width: 100%;
  }

  .roster-header {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .roster-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .roster-header-controls {
    align-items: center;
    display: flex;
    margin-left: auto;
  }

  .searchbar {
    margin-left: 20px;
  }

  .roster-table {
    width: 100%;

    .name-col {
      color: black;
      font-weight: 500;
    }
  }
}
