.roster-page {
  max-width: 700px;
  padding: 0px 20px;

  .roster-container {
    align-self: center;
    padding: 10px;
  }

  .item-separator {
    border-top: 1px solid $grey20;
    margin: 30px 0px;
  }

  .searchbar {
    align-self: center;

    .input-group-addon {
      border: none;
    }
  }

  .filter-buttons {
    align-self: center;
  }
}

.roster-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $grey20;
  background-color: #FFFFFF;
  padding: 30px 15px;

  &:hover {
    background: $grey5;
    cursor: pointer;
  }

  .roster-item__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $grey20;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }

  .roster-item__header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .roster-item__header-description {
    h3 {
      margin: 0;
      margin-bottom: 8px;
    }
  }

  .roster-item__description {
    color: $grey80;
    padding-top: 10px;
  }
}
