$pane-header-height: 50px;
$pane-footer-height: 50px;

.unmatched-page-wrapper {
  height: 100vh;
}

.unmatched-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .back-button {
    align-self: flex-start;
    color: $grey80;
    cursor: pointer;
  }

  .divider {
    border-left: 1px solid $grey20;
    z-index:100;
  }

  .list-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  .pane-header {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    position: fixed;
    width: inherit;
    padding: 10px;
    background-color: $white;
    border-bottom: 1px solid $grey20;
    z-index: 10;

    .back-button {
      align-self: center;
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      margin: 0px;
      width: 100%;
      text-align: center;
    }
  }

  .pane-name {
    display: flex;
    width: 100%;
  }

  .pane-description {
    color: $orange;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .pane-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: $pane-footer-height;
    width: inherit;
    padding: 10px;
    box-shadow: 0 -1px 14px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-top: 1px solid $grey20;
    z-index: 100;
    bottom: 0;

    button {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.person-list {
  width: 100%;
  margin-top: $pane-header-height;
}

.person-description {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  border-bottom: 1px solid $grey20;

  &:last-child {
    margin-bottom: 0px;
  }

  .person-detail {
    width: 50%;
  }

  .content-label {
    color: $grey60;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .content {
    font-weight: 500;
  }

  .match-instrument-button-help {
    color: $grey60;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
  }

  .instruments-container {
    display: flex;
    width: 100%;

    * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .more-button {
    max-width: 150px;
    align-self: center;
  }
}

.full-person {
  margin-top: 60px;
  margin-bottom: 80px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;

  .name {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .unmatched-page {

    .full-person {
      padding-left: 10px;
      padding-right: 10px;

      .form-page .form-container {
        width: 100%;
      }
    }

    .pane-header {
      flex-flow: row wrap;

      h2 {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 500px) {
  .unmatched-page {
    .person-description {
      .person-detail {
        width: 100%;
      }
    }
  }
}
