$pane-header-height: 50px;
$pane-footer-height: 50px;
.unmatched-page {
  display: flex;
  flex-direction: row;
  width: 100%;

  .back-button {
    align-self: flex-start;
    color: $grey80;
    cursor: pointer;
  }

  .divider {
    border-left: 1px solid $grey20;
    z-index:100;
  }

  .list-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .pane-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: $pane-header-height;
    width: inherit;
    padding: 10px;
    background-color: $white;
    border-bottom: 1px solid $grey20;
    z-index: 10;

    .back-button {
      align-self: center;
    }

    h2 {
      margin: 0px;
      width: 100%;
      text-align: center;
    }
  }

  .pane-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: $pane-footer-height;
    width: inherit;
    padding: 10px;
    background-color: $white;
    border-top: 1px solid $grey20;
    z-index: 10;
    bottom: 0;
  }
  
}

.person-list {
  width: 100%;
  margin-top: $pane-header-height;
}

.person-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid $grey20;

  &:last-child {
    margin-bottom: 0px;
  }

  .instruments-container {
    display: flex;

    * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .more-button {
    max-width: 150px;
    align-self: center;
  }
}

.full-person {
  display: flex;
  flex-direction: column;
  margin-top: $pane-header-height;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  .name {
    align-self: center;
  }
}
