.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: $header-height;
  min-width: 1000px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
