.login-page {
  width: 100%;
  background-color: $orange20;
  align-items: center;

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border-radius: 4px;
    padding: 30px 50px;
    margin: 0px 10px;
    margin-top: 10%;
    width: 90%;
    max-width: 500px;
  }

  .login-card__header {
    color: $orange;
    margin-bottom: 15px;
  }

  .login-card__field {
    min-width: 250px;
  }

  .login-card__button {
    margin-top: 15px;
    display: inline-block;
  }

  .login-card__reset-password {
    margin-top: 15px;
    display: inline-block;
  }

  .login-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
