.login-page {
  width: 100%;
  background-color: $orange20;
  align-items: center;

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $orange;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 5px 25px $orange80;
    padding: 30px 50px;
    width: 100%;
    margin-top: 30%;
  }

  .login-card__header {
    color: $orange;
    margin-bottom: 15px;
  }

  .login-card__field {
    width: 350px;
  }

  .login-card__button {
    margin-top: 15px;
    align-self: flex-end;
  }
}
