/* Bootstrap form controls */
.control-label {
  color: $grey;
}

.form-control {
  // @include appearance(none);
  height: 40px;
  outline-color: $orange;
  box-shadow: none;
  background-color: $blue-grey40;
  border-color: $blue-grey60;
  width: 100%;

  &:focus {
    box-shadow: none;
    border: 1px solid $orange40;
    background-color: $white
  }
}

.form-group {
  width: 100%
}
