$form-control-bottom-margin : 30px;
/* Bootstrap form controls */
.control-label {
  color: $grey;
}

.form-control {
  height: 40px;
  outline-color: $orange;
  box-shadow: none;
  background-color: $blue-grey30;
  border: none;
  width: 100%;
  transition: none;

  &:focus, &:active {
    box-shadow: none;
    border: 1px solid $orange40;
    background-color: $white
  }

  &::-webkit-input-placeholder {
    color: $grey40;
  }

  &::-moz-placeholder {
    color: $grey40;
  }
}

.form-group {
  width: 100%;
  margin-bottom: $form-control-bottom-margin;

  &.has-error {

    .control-label {
      color: $grey;
    }

    .help-block {
      &.error-message {
        font-weight: bold;
        text-transform: capitalize;
        margin-top: 5px;
        color: $red;
      }
    }

    .radio {
      color: black;
    }

    .form-control {
      @include box-shadow(none);
      border: 2px solid $red;

      &:focus, &:active {
        @include box-shadow(none);
        border-width: 1px;
      }
    }
  }
}

.form-submit {
  margin-bottom: $form-control-bottom-margin;
}
