$form-control-bottom-margin : 30px;
/* Bootstrap form controls */
.control-label {
  color: $grey;
}

.form-control {
  height: 40px;
  outline-color: $orange;
  box-shadow: none;
  background-color: $blue-grey40;
  border: none;
  width: 100%;
  transition: none;

  &:focus, &:active {
    box-shadow: none;
    border: 1px solid $orange40;
    background-color: $white
  }
}

.form-group {
  width: 100%;
  margin-bottom: $form-control-bottom-margin;
}
