/* Header Styles */

.user-header.navbar-default {
  background-color: $orange;
  min-height: 0;

  .dropdown-menu a:focus {
    // Need !important to override bootstrap
    color: initial !important;
  }

  .navbar-nav > li > a {
    color: $white80;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .navbar-nav > li > a:hover, a:focus, a:active,
  .navbar-nav > .open > a {
    color: $white;
    background-color: $white20;
  }

  .link-container.navbar-right {
    padding-right: 50px;
  }

  .navbar-toggle {
    border-color: transparent;
    margin-top: 9px;
    margin-bottom: 9px;

    &:hover, &:focus {
      background: $white20;
    }
  }

  .icon-bar {
    background-color: white;
  }
}

ul.dropdown-menu {
  min-width: 200px;
  @include box-shadow(none);
  border-radius: 0;
  border-color: $grey20;

  li > a {
    padding: 10px 20px;
  }
}

.user-header__logo {
  height: 50px;
  padding: 5px;

  img {
    height: 100%;
  }
}
