/* Header Styles */

.user-header.navbar-default {
  background-color: $orange;

  .navbar-nav > li > a {
    color: $white80;
  }

  .navbar-nav > li > a:hover, a:focus, a:active,
  .navbar-nav > .open > a {
    color: $white;
    background-color: $white20;
  }

  .link-container.navbar-right {
    padding-right: 100px;
  }
}

ul.dropdown-menu {
  min-width: 200px;
  @include box-shadow(none);
  border-radius: 0;
  border-color: $grey20;

  li > a {
    padding: 10px 20px;
  }
}

.user-header__logo {
  padding: 0;

  img {
    height: 100%;
  }
}
