/* Form Pages - Used for Student/Teacher form*/

.form-wrapper {
  padding-top: 80px;
}

.form-page {
  align-items: center;
  max-width: 700px;
  padding: 0 15px;

  .section-title {
    border-bottom: 1px solid $grey20;
    margin-bottom: 20px;

    * {
      color: $orange80;
    }
  }

  .instrument-title {
    color: $orange80;
  }
}

// use when more than one form control element in a row
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $form-control-bottom-margin;

  .form-row-input {
    margin-bottom: 0px;
  }

  > * { margin: 0 10px; }
  > :first-child { margin-left: 0; }
  > :last-child { margin-right: 0; }
}
