/* Form Pages - Used for Student/Teacher form*/

.form-wrapper {
  padding-top: 80px;
}

.section-title {
  border-bottom: 1px solid $grey20;
  color: $orange;
  font-size: 20px;
  font-weight: 600;
  margin: 65px 0 30px 0;
  padding-bottom: 8px;
}

.form-page {
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;

  textarea {
    min-height: 100px;
  }

  .section-subtitle {
    color: $grey;
    font-size: 18px;
    font-weight: 600;
  }

  .instrument-title {
    color: $orange80;
  }

  .form-input-description {
    color: $grey80;
    font-size: 13px;
  }

  .form-help-text {
    color: $grey80;
    font-size: 16px;
  }

  .reference-group-label {
    color: $grey80;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

}

// use when more than one form control element in a row
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $form-control-bottom-margin;

  .form-row-input {
    margin-bottom: 0px;
  }

  > * { margin: 0 10px; }
  > :first-child { margin-left: 0; }
  > :last-child { margin-right: 0; }
}

.monthError {
  float: left;
}

.yearError {
  float: left;
}
