/* Student Lessons Page Styles */

.student-lessons-page {
  width: 100%;
  padding: 0 200px;
  margin-top: 25px;

  .title {
    color: $orange;
    font-size: $font-size-l;
  }

  .options-container {
    display: flex;
    flex-direction: row;
  }
}
