$grey: #5D5D5D;
$grey-light:#5D5D5D;
$orange: #E48E1E;
$orange-light: #E48E1E;
$white: #FFFFFF;

$font-family: 'Open Sans', sans-serif;

$font-size-largest: 48px;
$font-size-larger: 30px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 16px;
$font-size-smaller: 14px;
$font-size-smallest: 12px;

* {
  font-family: $font-family !important;
}
