* {
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: $font-weight-large;
  color: $grey;
}

h1 {
  font-size: $font-size-xl;
  line-height: $font-size-xxl;
  letter-spacing: 1px;
}

h2 {
  font-size: $font-size-l;
  line-height: $font-size-xl;
  letter-spacing: 1px;
}

h3 {
  font-size: $font-size-m;
  line-height: $font-size-l;
  letter-spacing: 0.5px;
}

h4 {
  font-size: $font-size-s;
  line-height: $font-size-l;
  letter-spacing: 0.5px;
}

h5 {
  font-size: $font-size-xs;
  line-height: $font-size-l;
  letter-spacing: 0.5px;
}

h6 {
  font-size: $font-size-xxs;
  line-height: $font-size-l;
  letter-spacing: 0.5px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  @include appearance(none);
}
